section.portfolio::after {
    content:"";
    display:block;
    clear:both;
}

section.portfolio .portfolio-inner {
    width:30%;
    margin-right:5%;
    padding:1rem 1rem 1.5rem 1rem;
    float:left;
    background-color:#f8f8f8;
    border:1px solid #ccc;
    margin-bottom: 3rem;
}

section.portfolio .portfolio-inner:nth-child(3n) {
    margin-right:0;
}

section.portfolio .portfolio-inner i {
    width:100%;
    min-width:200px;
    min-height:200px;
    max-height:400px;
    font-size:7rem;
    text-align: center;
    margin-top:20%;
    color:#ff6a6a;
}

section.portfolio .portfolio-inner i.fa-php{
    color:#4F5B93;
}

section.portfolio .portfolio-inner i.fa-wordpress {
    color:#8892BE;
}

section.portfolio .portfolio-inner i.fa-node-js {
    color:#3C873A;
}
section.portfolio .portfolio-inner i.fa-react {
    color:#61DBFB;
}


section.portfolio .portfolio-inner strong {
    color:#ff6a6a;
    margin: 0.5rem 0;
    display:block;
}

section.portfolio .portfolio-inner h3 {
    font-size: 1.25rem;
}